
*{
    margin:0;
}

#overlay{
    position:fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.65);
    backdrop-filter: blur(3px);
    z-index: 2;
    justify-content: center;
    align-items: center;
    display: none;
}

#clock{
    margin-top:-5rem;
    margin-left:0.3rem;
    position: fixed;
}

html{
    font-size: 16px;
}

#today{
    margin:1rem;
}



#todayLoc{
    display: flex;   
    font-size: 1.2vw;
}

#titel{
    display: flex;
    margin:1rem;
}

#wind-speed{

    display: flex;
    align-items: center;
    margin-bottom: 1.75rem;
    margin-top:1.75rem;
    font-size: max(1rem,1.1vw);
    padding:0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 1rem;
    background-color:rgba(255,255,255,0.35) ;
    max-width: 6vw;
    font-family: "Open sans";
}

#wind-speed:hover{
    background-color:rgba(255,255,255,0.5) ;
}

#titel svg{
    height: 16vh;

}

#loc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 6rem;
    margin-right: 1.4rem;
    background-color: rgba(255,255,255,0.35);
    border-radius: 1rem;
    margin-top:2rem;
        font-family: "Open sans";
    
}

#loc:hover{
    background-color: rgba(255,255,255,0.65);
    cursor: pointer;
    transform: scale(1.03);
}

#loc > div{
    text-align: center;
}

#loc #tag{
    font-size: 1.6rem;
}

#demo{
    width: 100%;
    font-size: max(1rem,3vw);
}

#today-icon{
    width: max(3rem,6vw);
    margin-left: 1rem;
}

#city{
    font-size: max(1rem,2.4vw);
}

#country{
    margin-top: 0.3rem;
    margin-left: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: max(1rem,1.4vw);
}

#condition{
    margin:0;
    width: max-content;
    font-size:max(1rem,1.5vw);
    font-family: Open sans;
    margin-bottom:0.4rem;
}



#iconBox{

    display: flex;
    gap:3rem;
    align-items: center;
}

#iconBox > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    max-width: 10vw;
}

#today-temp{
    font-size: max(1rem,2vw);
    background-color: rgba(255,255,255,0.35);
    padding: 6px;
    border-radius: 8px;
    width: 5rem;
    transition: all 0.4s ease;
}

#today-temp:hover{
    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
    transform: scale(1.02);
}

#today-stats > *{
    font-size: max(1rem,1.2vw);

}

#today-stats{
    background-color: rgba(255,255,255,0.35);
    width: 25vw;
    display: grid;
    grid-template-columns: 4fr 3fr 0.4fr;
    padding:1rem;
    border-radius: 1rem;
    margin:1rem;
    font-family: "Helvetica";
    transition: all 0.4s ease;
}

#today-stats:hover{
background-color: rgba(255,255,255,0.6);
 transform: scale(1.03);
}

.text{
    grid-column: 1/2;
  
}

.data{

    grid-column: 2/3;
}

.data2{
 
    grid-column:3/4;
}

#search{
    display: flex;
    justify-content: center;
}

#search > label{
    font-size: 1.4rem;
    margin-left: 0;
}

#search > label:hover{
    cursor:pointer;
}


#bar{
    height: 1.5rem;
    margin-bottom:1rem;
    width: 25.2vw;
    border-radius: 1rem;;
    background-color: white;
    padding-left: 1rem;
    margin-right:4rem;

}


#disclaimer{
    margin-left: 1rem;
    margin-top:-4rem;
        font-family: "Open sans";
}






.footer{
    border-top:4px double black ;
    position:fixed;
    bottom: 0;
    background-color: rgba(255,255,255,0.6);
    width: 100%;
    margin:0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    transition: all 0.4s ease;
    transform: translateY(4vh);
}

.footer:hover{
    transition: all 0.4s ease;
    transform: translateY(0);
}

.footer > * {

    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.4rem;
}


#content{

    display: flex;
    gap:1rem;
    align-items: center;
    justify-content: space-between;
}

#hourlyContainer, #longContainer{
    background-color: rgba(0,0,0,0.6);
    width: 27vw;
    height: 60vh;
    margin-right:2rem;
    border-radius: 1rem;
    overflow-y: scroll;
}


.card{
    display: grid;
    background-color: rgba(255,255,255,0.6);
    margin:1rem;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 10vh;
    box-sizing: border-box;
    padding: 4px;
    border-radius: 0.6rem;
    transition: all 0.4s ease;
    font-size: 1.2rem;
}

.card:hover{
    background-color: rgba(255,255,255,0.85);
    transform: scale(1.01);
}

.card-conditions,.card-temp{
    grid-row: 2/3;
}

.card-precip,.card-wind{
    grid-row:3/4;
}

.card-max-min{
    grid-row: 3/4;
}



.card-icon{
    grid-row:1/4;
    grid-column: 3/4;
}

#hourlyContainer,#longContainer{
  overflow-y: scroll;
  scrollbar-width: thin;               /* Firefox only */
  scrollbar-color: #888 #f0f0f0;    
     /* Firefox only */

     scroll-snap-type: mandatory;
}


#titel.night,#todayLoc.night,#condition.night,#disclaimer.night{
    color:white;
}

